

<form action="/admin/edit/{{response._id}} " method="POST" enctype="multipart/form-data">
 <input type="text" name="title" value="{{response.title}}" class="form-control">
    <input type="number" name="price" value="{{response.price}}" class="form-control">
     <input type="text" name="description" value="{{response.description}}" class="form-control">
    <input type="file" name="productImage"  value="{{response.productImage}}" class="form-control">
    <input type="file" name="productImage2"  value="{{response.productImage2}}" class="form-control">
    <input type="file" name="productImage3"  value="{{response.productImage3}}" class="form-control">


    <button type="submit">save</button>


</form>


 

