<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
                       

{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="w3-content" style="max-width:800px">
        <img class="mySlides" src="{{ this.productImage}}" alt="..." class="img-responsive" style="width:100%" >
        <img class="mySlides" src="{{this.productImage2}}" alt="..." class="img-responsive" style="width:100%" >
        <img class="mySlides" src="{{this.productImage3}}" alt="..." class="img-responsive" style="width:100%" >
           
        </div>

       <div class="w3-center">
  <div class="w3-section">
  </div>
  <button class="w3-button demo" onclick="currentDiv(1)">Red</button> 
  <button class="w3-button demo" onclick="currentDiv(2)">Black</button> 
  <button class="w3-button demo" onclick="currentDiv(3)">Blue</button> <br>
        

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-red";
}
</script>

    
                    
                    <div class="caption">
                        <form method="post" action="/add-to-cart/{{this._id}}">
                            
                     <input type="radio" name="reader" value="L">Large
                     <input type="radio" name="reader" value="M">Medium
                     <input type="radio" name="reader" value="XL">ExtraLarge
        
                        <h3>{{ this.title }}</h3>
                        <p class="description">{{ this.description }}</p>
                      
                        <div class="clearfix">
                            <div class="price pull-left">${{ this.price }}</div>
                            <button  href="/add-to-cart/{{this._id}}"  name="color" class="btn  btn-success pull-right" type="submit">Add to Shopping Cart</a>
                        </div>
                        </form>
                       
                        <input type="text" placeholder="write the comments" name="comment">
                       {{#if comment }}
                        <div>
                          sfsdf
                        
                          
                         {{ else}}
                        <form action=" /comment" method="POST">
                          <div class="pull-left">{{this.lol}}</div>
                     asas
                          </form>
                        </div>
                        {{/if}} 
                       

                       

                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
 
                        {{# each comment}}
                          <div>
                            {{# each this}}

                          <p>{{this.comment}}</p>
                            {{/each}}
                          </div>
                        {{/each}}